@font-face {
   font-family: 'jellolight';
   font-display: swap;
   src: url('file:///C:/Users/bossc/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-07-23_150618/fonts/jellolight/font.ttf');
}
